*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    color: #ffffff;
    background: url("../img/background.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.container{
    margin: 0 auto;
    width: 1030px;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Header */

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px auto 17px;
}

.header-logo{
    display: flex;
    align-items: last baseline;
    /* gap: 5px; */
    position: relative;
}

.header-logo:hover{
   color: #F26522;
}

.header-logo>a{
    padding-right: 5px;
}

.header-logo>a:hover::after{
content: "";
    display: inline-block;
    position: absolute;
    width: 53px;
    height: 47px;
    top: 0px;
    left: 0px;
    background-image: url("../img/logo3.png");
}

.header-logo a:last-child{
    font-weight: 700;
}

.logo-text{
   font-size: 29px;
}

.auth-nav li:first-child{
    margin-bottom: 19px;
}

.auth-nav li:last-child {
    text-align: end;
}

.auth-nav li:hover{
    color: #F26522;
}

/* Main */

.card-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 37px;
    column-gap: 50px;
}

.card-text{
    text-align: center;
    padding-top: 20px;
}

.card-link{
    position: relative;
}

.card-link:hover .card-text{
    color: #F26522;
}

.card-link:hover .cart-hover{
    opacity: 100%;
    transform: translateY(0);
}

.card-image {
    border: 10px solid white;
    border-image: linear-gradient(to right top, #352F2D, white, #352F2D);
    border-image-slice: 5;
}

.card-link:hover .card-image{
    border: 10px solid #F26522;
}

.cart-hover{
    background-color: #F26522;
    width: 309px;
    height: 55px;
    position: absolute;
    opacity: 0;
    bottom: 40px;
    transform: translateY(25%);
    transition: transform 0.3s linear;
}

.cart-hover>p{
    font-size: 10px;
    margin: 7px 200px 8px 16px;

}

.card-hover-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card-hover-info::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 12px;
    top: 3px;
    right: 14px;
    background-image: url("../img/sign.png");
}


.card-hover-info p:first-child{
    margin-left: 16px;
    font-size: 20px;
}

.card-hover-info p:last-child {
    margin-right: 37px;
    font-size: 14px;
}

/* Footer */

.footer-text{
    font-size: 12px;
    text-align: center;
    margin: 48px auto 15px;
}

.btn{
    margin: 10px auto;
    padding: 10px;
    display: block;
    cursor: pointer;
    
}

.change-bgd{
    background: url('../img/background1.jpg');
    background-size: cover;
  }